body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;

    background-size: cover;
    background-image: url(https://images.hdqwalls.com/download/colorful-lines-abstract-al-1920x1080.jpg);
}

.content {
    border: 2px solid rgb(184, 19, 19);
    padding: 45px;
    margin: 55vh;
    width: auto;
    margin-top: 22vh;
    background-color: #beaeae;
}

.title-form {
    text-align: center;
    justify-content: center;
    align-items: center;

    color: #333;
    transition: 0.5s;
}

.title-form:hover {
    color: #555353;
}

label {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #cfc1c1;

    box-shadow: 2px 3px 5px 2px#312f2f;
}


label,
input {
    margin-bottom: 10px;
    text-align: center;
}



button {


    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.5s;
}

button:hover {
    background-color: #cf4d25;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    background-color: #af9e9e;

    transition: 0.2s;
}

#result:hover {
    background-color: #e6b9b9;
}

/* Media query para tela com largura de 704px */


@media screen and (max-width: 100vh) {
    .content {
        margin: 10vh;
        margin-top: 20vh;
    }
}